<app-navigation></app-navigation>
<main class="main-content" [@stagger]>
  <div class="container">
    <app-about [@fadeInUp]></app-about>
    <app-technologies [@fadeInUp]></app-technologies>
    <app-projects [@fadeInUp]></app-projects>
    <app-experience [@fadeInUp]></app-experience>
    <app-certifications [@fadeInUp]></app-certifications>
    <app-references [@fadeInUp]></app-references>
    <app-faq [@fadeInUp]></app-faq>
    <app-contact [@fadeInUp]></app-contact>
    <app-footer [@fadeInUp]></app-footer>
  </div>
</main>

<router-outlet></router-outlet>
